#!/bin/bash

set -eufo pipefail

{{ $brews := list
     "curl"
     "gh"
     "git"
     "git-lfs"
     "glow"
     "jq"
     "ripgrep"
     "wget"
     "zsh"
     "tree"
     "bat"
     "fd"
     "fzf" -}}

{{ $casks := list
     "bitwarden"
     "claude"
     "iterm2"
     "raycast"
     "rectangle"
     "spotify"
     "visual-studio-code" -}}

brew bundle --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
