{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $gitName := promptStringOnce . "gitName" "Git name" -}}
{{- $gitEmail := promptStringOnce . "gitEmail" "Git email address" -}}

data:
  email: {{ $email | quote }}
  git:
    name: {{ $gitName | quote }}
    email: {{ $gitEmail | quote }}

diff:
  exclude:
    - scripts
